.jumbotron{
    background-image: url("hyperspace.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    color:white;
    font-family: 'Alegreya Sans', sans-serif;
    clear:both;
}